.cardconductores {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-title {
    color: blueviolet;
}

.card-body {
    background-color: white;
}

.btn {
    background-color: map-get($btn, $key:bg-color);
    border: map-get($btn, border);
    }


.btn:hover{
    transform: map-get($btn-hover, transform );
    transition: map-get($btn-hover ,transition);
    }