*{margin: 5px;
    padding: 0;}

header{
    background-color: nth($colores, 1 );
        background-image: radial-gradient(circle, rgba(25,237,206,0.9976365546218487) 10%, rgba(45,253,79,1) 100%);;
        top: 0;
        position: sticky;
        z-index: 101;
    nav{
        ul{
            li{
                height: 20px;
                display: inline-block;
                &:hover{
                    background-color: nth($colores , 2 );
                }
            }
                a{
                    font-family: exo, sans serif;
        font-size: 50;
        font-weight: bold;
        text-decoration: none;
        border: 1px dotted rgb(105, 13, 128);
        padding: 5px;
                }
            }
        }
    }

    .navbar{
        --bs-navbar-padding-x: none;
    }
    .bg-light {
        --bs-bg-opacity: 0;}
    
    
    .nav-link {
        color:black;
        border: 1.5px dotted black;
        border-radius: 5px; 
        transition: transform 0.5s;
        text-align: center;
    }
    
    .nav-link:hover{
        @extend %navegador-hover;
    }
    
    .nav-link.active:hover{
        @extend %navegador-hover;
    }

    .navbar-toggler-icon {
        display: grid;
        place-items: right;

    }
    
.Encabezado {
    display: grid;
    place-items: center;
}
.titulo1{ 
    color: nth($colores, 3 ); font-family: Exo, sans-serif;
    font-size: 40px;
    @media only screen and (max-width: 576px){
        font-size: 25px;
    }
}

.titulo2{ 
    color:nth($colores, 3 ); font-family: exo, sans-serif; font-size: 30px;
    @media only screen and (max-width: 576px){
        font-size: 17px;
    }
}

.titulo3{ 
    color:nth($colores, 3 ); font-family: exo, sans-serif; font-size: 30px;
    @media only screen and (max-width: 576px){
        font-size: 17px;
    }
}


section {
    @include espacioSection (40px);
    margin-left: 10px;
    background-color:  nth($colores, 5 );
}